h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Caracterizar fuentes naturales y antropogénicas de contaminación por mercurio en su entorno, considerando referencias internacionales.






