.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Agenda 2030: 
            | es un plan de acción mundial a favor de las personas, el planeta, la prosperidad, la paz y la unión. Tiene por objeto asegurar el progreso social y económico sostenible en todo el mundo (Naciones Unidas, 2015).
        hr

        p
            strong.mr-2 Agua residual doméstica: 
            | son las procedentes de los hogares, así como las de las instalaciones en donde se desarrollan actividades industriales, comerciales o de servicios y que correspondan a: 
            ol.my-2
                li Descarga de los retretes y servicios sanitarios.
                li Descarga de los sistemas de aseo personal, cocinas, de lavado de paredes y ropa sin incluir lavandería industrial (Ministerio de Ambiente y Desarrollo Sostenible, 2015).

        hr

        p
            strong.mr-2 Agua residual no doméstica: 
            | son las procedentes de las actividades industriales, comerciales o de servicios, distintas a las que constituyen aguas residuales domésticas (Ministerio de Ambiente y Desarrollo Sostenible, 2015).  

        hr

        p
            strong.mr-2 Ánodo: 
            | electrodo en el que se realiza una reacción de oxidación, en donde una especie química cede electrones a otra (Orduño & Cañez, 2006).
        hr

        p
            strong.mr-2 Cátodo: 
            | electrodo en el que se realiza una reacción de reducción, en donde una especie química gana electrones de otra (Orduño & Cañez, 2006).

        hr

        p
            strong.mr-2 Contaminante: 
            | aquella sustancia que se encuentra en un medio al cual no pertenece o que excede los niveles permitidos por las autoridades ambientales porque puede generar efectos adversos en la salud y el ambiente (Orduño & Cañez, 2006).

        hr

        p
            strong.mr-2 CONPES: 
            | Consejo Nacional de Política Económica y Social.

        hr

        p
            strong.mr-2 Desarrollo: 
            | en términos de desarrollo humano, algunos especialistas lo definen como el avance o mejora en la calidad de vida de las personas, integrando sus aspectos políticos, sociales, económicos, que en conjunto suponen una evolución social (UNDP, s.f.).

        hr

        p
            strong.mr-2 Desarrollo Sostenible: 
            | es la satisfacción de las necesidades actuales, sin comprometer la capacidad de generaciones futuras para satisfacer sus propias necesidades, garantizando el equilibrio entre crecimiento económico, cuidado del medio ambiente y bienestar social (UNDP, s.f.).

        hr

        p
            strong.mr-2 DBO5: 
            | la Demanda Bioquímica de Oxígeno es una medida de la cantidad de oxígeno utilizado por los microorganismos en la estabilización de la materia orgánica biodegradable, en presencia de oxígeno, en un periodo de cinco días a 20°C (IDEAM, 2007).

        hr

        p
            strong.mr-2 Encapsulamiento: 
            | es una técnica basada en la inmovilización de contaminantes orgánicos, el objetivo es crear barreras físicas alrededor de los mismos, aplicando sustancias que puedan crear dichas barreras como los silicatos (Zehner, 2001).

        hr

        p
            strong.mr-2 Erosión natural: 
            | es la pérdida del suelo de manera física y natural, desarrollada a través de los años. Esto afecta las funciones y servicios y limita la capacidad productiva de los suelos (IDEAM, 2019).

        hr
        p
            strong.mr-2 Holístico: 
            | Se refiere a aquello que se analiza como un todo, de una manera global e integrada (Concepto.de, s.f.).

        hr

        p
            strong.mr-2 In situ:
            | expresión latina que significa en el sitio o sobre el terreno (Real Academia Española, 2019).

        hr

        p
            strong.mr-2 Inmovilización:
            | se refiere a la acción de inhibir la movilidad de los contaminantes en un sitio contaminado. Para inmovilizar a los contaminantes se utilizan sustancias como: pegamentos, endurecedores, activadores, cementos, cal o yeso, con adición de agua o biocarbón (Ruiz, 2004).

        hr
        p
            strong.mr-2 Iones:
            | átomo o molécula que tiene una carga eléctrica positiva o negativa. El sodio, el potasio, el calcio, el cloro y el fosfato son ejemplos de iones (Instituto Nacional de Cáncer, 2019)..

        hr

        p
            strong.mr-2 MAPS:
            | estrategia del Grupo de Desarrollo de las Naciones Unidas que tiene como fin ayudar a los países a implementar la Agenda 2030 y alcanzar los Objetivos de Desarrollo Sostenible (ODS). Sus siglas en inglés aluden a “Mainstreaming” (transversalización / integración), “Acceleration” (aceleración) y “Policy Support” (apoyo en la generación de políticas) (UNDP, s.f.).

        hr
        p
            strong.mr-2 Metal pesado:
            | es un elemento metálico de la tabla periódica que puede ser nocivo para todos los seres vivos en pequeñas concentraciones. Tiende a acumularse en la cadena alimenticia (EPA, 2017)..

        hr
        p
            strong.mr-2 ODS:
            | son los Objetivos de Desarrollo Sostenible que refieren al acuerdo alcanzado por los Estados miembros de las Naciones Unidas y se componen de una Declaración, 17 Objetivos de Desarrollo Sostenible y 169 metas. Sus principios básicos proponen poner fin a la pobreza, proteger el planeta y garantizar que todas las personas gocen de paz y prosperidad (Naciones Unidas, 2015)..

        hr
        p
            strong.mr-2 Oxidante:
            | es una especie química que produce la oxidación de otra, llamada reductor. Su función es robarle electrones al reductor y de esta manera reducirse. Por el contrario, el reductor cede sus electrones al oxidante y de esta manera se oxida (García et. al, 2003).

        hr
        p
            strong.mr-2 Recuperación ecológica:
            | "Recuperar algunos servicios ecosistémicos de interés social. Generalmente los ecosistemas resultantes no son autosostenibles y no se parecen al sistema predisturbio" (Ministerio de Ambiente y Desarrollo Sostenible, 2015).

        hr
        p
            strong.mr-2 Rehabilitación ecológica:
            | "Llevar al sistema degradado a un sistema similar o al sistema predisturbio; éste debe ser autosostenible, preservar algunas especies y prestar algunos servicios ecosistémicos" (Ministerio de Ambiente y Desarrollo Sostenible, 2015).

        hr
        p
            strong.mr-2 Remediación:
            | "Conjunto de acciones necesarias para llevar a cabo la limpieza de cualquier descarga o sospecha de descarga de contaminantes, incluyendo, más no limitado, a la realización de una evolución preliminar, investigación del sitio, determinación del alcance del problema, estudio de factibilidad y acciones correctivas"  (Ministerio de Ambiente y Desarrollo Sostenible, 2015).

        hr
        p
            strong.mr-2 Restauración ecológica:
            | "Restablecer el ecosistema degradado a una condición similar al ecosistema predisturbio respecto a su composición, estructura y funcionamiento. Además, el ecosistema resultante debe ser un sistema autosostenible y debe garantizar la conservación de especies, del ecosistema en general, así como de la mayoría de sus bienes y servicios"  (Ministerio de Ambiente y Desarrollo Sostenible, 2015).

        hr
        p
            strong.mr-2 Sostenibilidad :
            | es un proceso socio-ambiental, caracterizado por unas acciones en búsqueda de un ideal común, asumiendo que la naturaleza y el medio ambiente no son una fuente inagotable de recursos, siendo necesario su protección y uso racional. (Naciones Unidas, 2015).