.container#page-introduccion

    .header-ecored
        h1 Introducción


    .card.my-4

        .card-body

            p En este componente formativo se dará un recorrido por los Objetivos de Desarrollo Sostenible (ODS), como elementos clave para luchar por un país libre de sustancias contaminantes como el mercurio y se informará sobre la identificación de sitios contaminados, como una herramienta para caracterizar las fuentes de contaminación y contribuir a la mitigación de los impactos que ha dejado el uso del mercurio.

            p.mt-4 Los Objetivos de Desarrollo Sostenibles, adoptados por los Estados Miembros de la Organización de las Naciones Unidas (ONU), establecen la ruta de la sostenibilidad para 2030 y así, poner fin a la pobreza, proteger el planeta y garantizar que todas las personas gocen de paz para la siguiente década. (Programa de las Naciones Unidas para el Desarrollo, 2015).

            p.mt-4 Para lograr esto, es necesario gestionar racionalmente los productos químicos y sus desechos para contribuir a las acciones que protejan el ambiente y la salud humana.

            p.mt-4
                ul.bg-color-light
                    li 
                        span Siete (7) millones de muertes anuales son atribuibles a la contaminación atmosférica (OMS, s.f.). 
                    li 
                        span Más de dos tercios de los efectos adversos para la salud, generados por la contaminación, se experimentan como enfermedades no transmisibles (ENT). (GAHP, 2019).

            p.mt-4 En este sentido, ¿cómo el uso del mercurio y sus impactos obstaculizan el cumplimiento de los ODS y así lograr el desarrollo del país y el mundo? Resolvamos esta y más preguntas, a continuación.
