.container

    .header-ecored
        h1 1. Objetivos de desarrollo sostenible y agenda 2030


    .subtitulo-guion#tema-1-1.mt-6.mb-3.mt-3
        h2 1.1 Generalidades de los Objetivos de Desarrollo Sostenible y la Agenda 2030.
    .card.my-4

        .card-body


            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/iUMKz81i9yE', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            p.mt-4 Vamos a reflexionar sobre la importancia de trabajar en la eliminación del uso del mercurio para lograr el desarrollo de las regiones y los territorios. Aquí realizaremos un recorrido por los Objetivos de Desarrollo Sostenible como elementos clave para luchar por un país libre de esta sustancia contaminante, y se explicarán las cualidades de los sitios contaminados como una nueva herramienta para caracterizar las fuentes naturales y antropogénicas de contaminación por mercurio en el entorno.

            p.mt-4 Se ha preguntado alguna vez ¿qué es el desarrollo y por qué es importante para las regiones y los países? ¡Les invito a reflexionar un poco! 

            p.my-4 Inicie con la lectura de la noticia de la National Geographic en español sobre el mercurio en la Amazonía.


            section.my-4

                a(href="media/documentos/anexos/anexo1_noticia_el_mercurio.pdf" target="_blank").media-link      

                    img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                    .media-link-title
                        p.text-small #[strong Anexo]. Noticia: el mercurio está dañando la vida en la Amazonas

            hr.line-100.bg-brand-color-light

            .row.align-items-center.justify-content-center.my-5
                .col-auto
                    p.p-2.text-center
                        img(src="assets/images/pages/tema-1/img_pregunta.svg", alt="",style='max-width: 200px').img-fluid
                
                .col
                    

                    .p-2
                        p Luego de leer la noticia, reflexione sobre las siguientes preguntas:
                        ol(type='A').mt-4
                            li ¿Cuáles cree que son las problemáticas que se identifican?
                            li ¿Cree que el mercurio afecta el desarrollo de la Amazonía? ¿Cómo lo afecta?
                            li ¿Quiénes son los afectados por los efectos del mercurio en esta región? 
                            li ¿Considera que las zonas del Amazonas mencionadas son sitios contaminados? ¿Por qué?
                            li Si vive o viviera en esta región, ¿qué haría para ayudar? 
                            li En su opinión, ¿cuáles podrían ser las soluciones a las problemáticas mencionadas en la noticia?

            hr.line-100.bg-brand-color-light

            p.mt-4 De seguro, con este análisis, podrá imaginar por qué es importante trabajar por el desarrollo sostenible de las regiones. 

            p.mt-4 Para comprender mejor por qué se habla de estos temas, volvamos a septiembre del año 2000. Luego de grandes conferencias y cumbres de las Naciones Unidas, los diferentes dirigentes del mundo aprobaron la Declaración del Milenio, comprometiendo sus países a una nueva alianza para reducir los niveles de extrema pobreza, definiendo así los Objetivos de Desarrollo del Milenio (ODM) con un plan de vencimiento a 2015. 

            .row.justify-content-center.my-5
                .col-12.col-md-10
                    img(src="assets/images/pages/tema-1/infografia_ODM.svg", alt="").img-fluid

            p.mt-4 Estos objetivos buscaban aunar esfuerzos para luchar contra la pobreza, el hambre, la falta de educación, la desigualdad de los géneros, la mortalidad infantil, el VIH/SIDA, la degradación ambiental y la adopción de medidas para facilitar asistencia a los países en desarrollo. (PNUD, 2000).

            p.mt-4 #[strong ¿Qué pasó los años siguientes a 2015?] En vista del vencimiento del plazo para cumplir estas metas, 193 Estados decidieron unirse para acordar una nueva agenda para el desarrollo y así aprobaron los Objetivos de Desarrollo Sostenible.

            .row.justify-content-center.my-5
                .col-12.col-md-10
                    img(src="assets/images/pages/tema-1/infografia_ODS.svg", alt="").img-fluid


    .card.my-4

        .card-body
            //.header-arrow.my-5
                h3.text-center Objetivos de Desarrollo Sostenible (ODS)
                p.text-center.text-brand-color-light.mb-0 Agenda en Colombia. PNUD Colombia, 2015. 

            p.mt-5 Los Objetivos de Desarrollo Sostenible (ODS) están formulados para erradicar la pobreza, promover la prosperidad y el bienestar para todos, proteger el medio ambiente y hacer frente al cambio climático a nivel mundial. Esta nueva estrategia comenzó a regir desde septiembre de 2015 y ha motivado los programas de desarrollo mundiales para cumplir dichos objetivos al año 2030. 

            p.mt-5 Para ilustrar mejor sobre por qué es necesario pensar en los Objetivos de Desarrollo Sostenible para el mundo y, en especial para Colombia, veamos el siguiente reportaje. 
                
            .row.my-5.justify-content-center
                .col-12.col-md-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/QmDctvoX0i4', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')


            .row.justify-content-center.mt-5

                .col-10.col-md-8
                    .card-media.bg-brand-color-optional
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-1/icon-1.svg").img-fluid
                            p.card__copy 
                                span 
                                    |  Los ODS, como una plataforma para la construcción de la paz y el desarrollo sostenible, son un instrumento para el establecimiento de alianzas entre los sectores: público, privado, académico y sociedad civil.


                .col-10.col-md-8
                    .card-media.bg-brand-color-optional
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-1/icon-2.svg").img-fluid
                            p.card__copy 
                                span 
                                    |  Estos objetivos hacen parte de un plan de acción que se consolidó en la Agenda 2030, en la Asamblea General de las Naciones Unidas y que estará en línea con cinco (5) ejes centrales, a favor de las personas, el planeta y la prosperidad, con la intención, además, de fortalecer la paz universal y el acceso a la justicia. 

                .col-10.col-md-8
                    .card-media.bg-brand-color-optional
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-1/icon-3.svg").img-fluid
                            p.card__copy 
                                span 
                                    |  Los Estados miembros de las Naciones Unidas aprobaron, a través de la <i>resolución A/RES/70/1 de la ONU, para transformar el mundo</i> el 25 de septiembre de 2015. 


                .col-10.col-md-8
                    .card-media.bg-brand-color-optional
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-1/icon-4.svg").img-fluid
                            p.card__copy 
                                span 
                                    |  Reconocen que el mayor desafío del mundo actual es la erradicación de la pobreza y afirman que sin lograrla no puede haber desarrollo sostenible. (Organización de las Naciones Unidas, 2015).


    .card.my-4

        .card-body

            .subtitulo-guion.subtitulo-guion--dark.mb-5.my-3
                h2 Datos de interes

                p.mt-4 En la Agenda 2030 convergen dos procesos que hasta entonces se consideraban aislados: 

                p.mt-4 Por un lado, los Objetivos de Desarrollo del Milenio - ya mencionados anteriormente -, que se centraba en el desarrollo social, con la erradicación de la pobreza como objetivo principal.

                p.my-4 Por otro lado, el concepto de desarrollo sostenible, que se centraba sobre el vínculo que existe entre desarrollo y medioambiente (UNITAR, 2015), con las bases del Informe Brundtland y los acontecimientos ambientales, desde la década de los 70’s. 

                .row.justify-content-center
                    .col-12.col-md-8
                        img(src="assets/images/pages/tema-1/grafica_mercurio.svg", alt="").img-fluid


                p.mt-5 Si bien la Agenda 2030 integra 17 Objetivos de Desarrollo Sostenible y 169 metas, cada Gobierno fijará sus propias metas nacionales, tomando como ruta el compromiso común y universal, pero adaptando el plan al contexto de riqueza, recursos y actividad económica que tiene el país.


                .jumbotron.mt-5
                    .row.align-items-center.justify-content-center
                        .col-auto
                            img(src="assets/images/pages/tema-1/icon-ods.svg", alt="").img-fluid

                        .col
                            p.mt-4 Con base en lo anterior, ¿cuáles son esos 17 Objetivos de Desarrollo Sostenible?. Conozca a continuación los ODS y sus apuestas:

                            p.mt-4
                                a(href='https://www.undp.org/content/undp/es/home/sustainable-development-goals.html', target='_blank') https://www.undp.org/content/undp/es/home/sustainable-development-goals.html

                            p.mt-4 Navegue sobre los 17 ODS y realice la lectura de cada objetivo

                        .col-auto
                            a(href='https://www.undp.org/content/undp/es/home/sustainable-development-goals.html', target='_blank')
                                img(src="assets/images/pages/tema-1/icon-www.svg", alt="").img-fluid


    .card.my-4

        .card-body

            .row.align-items-center
                .col-12.col-md-8.order-2.order-md-1
                    h3 Entonces, ¿por qué son importantes los Objetivos de Desarrollo Sostenible? 
                    p.mt-5 Los ODS y la agenda 2030 proponen un abordaje que integra los problemas estructurales del desarrollo, vinculando la importancia de avanzar en las dimensiones económica, social y ambiental. Para llegar a tal fin, es necesario comprender los cinco (5) ejes centrales de este plan global, que en inglés se denominan como las 5P: Planet, People, Prosperity, Peace, Partnership; es decir, Planeta, Personas, Prosperidad, Paz y Alianzas. 
                .col-12.col-md-4.order-1.order-md-2
                    p.text-center.p-5.p-md-0
                        img(src="assets/images/pages/tema-1/info-ods-2.svg", alt="").img-fluid

    section.my-6
        .subtitulo-guion.subtitulo-guion
            h2#actividad-1 Actividad didáctica: ¡Conecta tu conocimiento!
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Analice, identifique y conecte los desafíos mundiales en los ejes principales de la Agenda 2030. Ponga en práctica lo que ha aprendido para luego descubrir qué tan cerca está de la respuesta. 
                    p Teniendo en cuenta la información presentada, realice la siguiente actividad didáctica, en la cual debe ubicar los ODS en los cinco (5) ejes centrales del desarrollo sostenible, de acuerdo con su enfoque.
                    a(href="media/act-1/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad            
        hr.line-100.bg-orange.my-5
                

    .card.my-4

        .card-body

            .row
                .col-auto
                    img(src="assets/images/pages/tema-1/mapa-colombia.svg", alt="").img-fluid
                .col
                    p.mt-5 A través del #[strong CONPES 3918 de 2018], Colombia estableció la hoja de ruta para el cumplimiento de los ODS a 2030. La estrategia de implementación definida en este documento consta de cuatro ejes principales:   

                    p.mt-5 Para Colombia, la Agenda 2030 es una oportunidad clave para promover transformaciones y motivar la acción local, nacional e internacional, que facilite mejorar la calidad de vida de todos los colombianos, en especial, las personas más pobres y vulnerables. Este plan global, es una herramienta fundamental para que Colombia genere condiciones propicias para una paz estable y duradera. 

                    p.mt-5 Actualmente, el país trabaja en un diálogo constante entre Gobierno Nacional, Gobiernos Departamentales y Municipales con el objetivo de motivar el cumplimiento de las 169 metas y los 17 objetivos. Así mismo, la articulación de los actores como sector privado, gobiernos, sociedad civil y la academia, es clave para unir esfuerzos y lograr los objetivos comunes de un desarrollo sostenible. (DNP, 2016).


            .jumbotron.mt-5
                .row.align-items-center.justify-content-center
                    .col
                        h3 Recurso clave
                        p.mt-2 Para conocer más sobre la historia y avances de los ODS en Colombia, ingrese a <a href='https://www.ods.gov.co/es' target='_blank'>https://www.ods.gov.co/es</a> y entérese de cómo va el país en materia de desarrollo sostenible. 

                    .col-auto
                        img(src="assets/images/pages/tema-1/icon-www.svg", alt="").img-fluid


    .card.my-4

        .card-body

            p.mt-5 Ahora, para comprender mejor las estrategias de la agenda 2030, y cómo va a operar el Sistema de las Naciones Unidas frente a los ODS, lo invitamos a ver el siguiente video: Agenda 2030 y ODS en la práctica.

            .row.my-5.justify-content-center
                .col-12.col-md-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/vax-YFuICqc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

    .subtitulo-guion#tema-12.mt-6.mb-3.mt-3
        h2 1.2  Relación de los ODS con el Convenio de Minamata

    .card.my-4

        .card-body


            .row.align-items-center.justify-content-around
                
                .col-12.col-md
                    h3.mt-3 Convenio de Minamata 

                    p.mt-3 Como hemos venido estudiando, el objetivo del Convenio es proteger la salud humana y el medio ambiente de las emisiones y liberaciones antropógenas de mercurio y compuestos del mercurio. En este sentido, reconoce la necesidad de una acción global para el desarrollo sostenible de las naciones afectadas por el mercurio. 

                .col-12.col-md-auto
                        img(src="assets/images/pages/tema-1/convenio-minimata.svg", alt="").img-fluid

            p.text-center.mt-5(style='background-color:#4A474B')
                img(src="assets/images/pages/tema-1/barra_onu.svg", alt="").img-fluid

            p.mt-5 En diferentes artículos y párrafos del Convenio de Minamata se aborda la necesidad de presentar acciones para el cumplimiento de los Objetivos de Desarrollo Sostenible y la Agenda 2030.

            p.mt-5 Para comprender esta relación, veamos un ejemplo de las acciones que plantea el Convenio de Minamata frente a los ODS.

            .row.justify-content-center
                .col-12.col-lg-10

                    .row.align-items-center.justify-content-around.mt-5
                        .col-auto
                            img(src="assets/images/pages/tema-1/icon-minimata-1.svg").img-fluid
                        .col
                            hr.line-100(style="background-color: #206491")
                            h3 El Convenio
                            p Casi #[strong 3 millones de personas] dependen de la diversidad biológica marina y costera para su subsistencia. Estos ambientes se ven amenazados por la contaminación del mercurio y ponen en riesgo al medio ambiente y a la salud humana. Es indispensable impedir que el mercurio alcance las fuentes hídricas y acuáticas para reducir la acumulación de esta sustancia en los hábitats marinos que hacen parte de la cadena de alimento de otras especies y los humanos.
                            


                    .row.align-items-center.justify-content-around.mb-5
                        .col-auto
                            img(src="assets/images/pages/tema-1/icon-minimata-2.svg").img-fluid
                        .col
                            hr.line-100(style="background-color: #206491").my-5
                            h3 Los ODS Objetivo 14
                            p Conservar y utilizar en forma sostenible los océanos, los mares y los recursos marinos para el desarrollo sostenible.
                            hr.line-100(style="background-color: #206491")        


    section.my-6
        .subtitulo-guion.subtitulo-guion
            h2#actividad-2 Actividad didáctica: ¡Relación de los ODS con el Convenio de Minamata!
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Lo invitamos a realizar la siguiente actividad didáctica que le ayudará a afianzar su proceso de aprendizaje.

                    p Relacione algunas de las acciones y escenarios que plantea el Convenio de Minamata con los ODS. A continuación, se destacan algunos de los principales vínculos entre los ODS y las actividades de este convenio destinadas a reducir el uso y eliminar el mercurio. Seleccione el ODS correspondiente a cada mención.

                    a(href="media/act-2/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar actividad            
        hr.line-100.bg-orange.my-5
            

    .card.my-4

        .card-body

            .subtitulo-guion.subtitulo-guion--dark.mb-5.my-3
                h2 Datos de interes

                p.my-5 A una década de cumplir los Objetivos de Desarrollo Sostenibles, y en concordancia con el Convenio de Minamata, se adelanta en Colombia el proyecto #[strong PlanetGOLD]: <i>“Gestión Integrada para la eliminación del mercurio en la minería artesanal y de pequeña escala”</i>, financiado con fondos del Global Environmental Facility (GEF), implementado por el  Programa de las Naciones Unidas para el Desarrollo (PNUD), en ejecución con el Ministerio de Minas y Energía, y en asocio con el Ministerio de Salud y Protección Social, y el Ministerio de Ambiente y Desarrollo Sostenible.

            .jumbotron.mt-5
                .row.align-items-center.justify-content-center
                    .col
                        h3 Recurso clave
                        p.mt-2 Conozca más sobre los 17 Objetivos de Desarrollos Sostenible y sus 169 metas en:  <a href='https://www.un.org/sustainabledevelopment/es/' target='_blank'>https://www.un.org/sustainabledevelopment/es/</a>. 

                        .mt-5

                        p #[strong ¿Cómo está contribuyendo al cumplimiento de los ODS y qué puede hacer desde su casa?]

                        p.mt-2 Para darle respuesta a esta pregunta, revisemos la siguiente guía de las Naciones Unidas para salvar el mundo “Guía para salvar al mundo desde casa”

                        section.my-4
                            a(href="media/documentos/anexos/anexo1_noticia_el_mercurio.pdf" target="_blank").media-link
                            
                                img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon

                                .media-link-title
                                    p.text-small #[strong Anexo]. Guía para salvar al mundo desde casa

                    .col-auto
                        img(src="assets/images/pages/tema-1/icon-www.svg", alt="").img-fluid