.container

    .header-ecored
        h1 2.	Sitios contaminados por mercurio  

    .subtitulo-guion#tema-1-1.mt-6.mb-3.mt-3
        h2 2.1 Conceptos iniciales, fuentes y efectos de la contaminación
    .card.my-4
        .card-body

            p.mt-4 ¿Por qué hablamos de sitios contaminados con mercurio?. Veamos el siguiente gráfico:  

            .row.justify-content-center.my-5
                .col-12.col-md-11
                    img(src="assets/images/pages/tema-2/info-21-1.svg", alt="").img-fluid

            p.my-4 Si además de las anteriores, alguna de las ideas que vino a su mente fueron las siguientes: 

            .row.justify-content-center
                .col-12.col-md-10
                    .bg-gradiente-tema.my-3.p-4
                        p.text-center a. Porque Colombia es miembro del Convenio de Minamata

                    .bg-gradiente-tema.my-3.p-4
                        p.text-center b. Porque al ser país miembro, el manejo de sitios contaminados se convierte en un mandato

                    .bg-gradiente-tema.my-3.p-4
                        p.text-center c. Porque existen comunidades y recursos naturales en riesgo de contaminación que deben ser protegidas

            p.mt-4 Entonces entendió correctamente lo visto la semana pasada con respecto a los roles y responsabilidades de Colombia para eliminar el uso del mercurio. ¡Qué bien!

            p.mt-4 Para profundizar sobre la definición de un sitio contaminado, observe el siguiente video: Gestión de sitios contaminados. PlanetGOLD, PNUD Colombia, 2020.

            .row.my-6.justify-content-center
                .col-12.col-md-10
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/k6tgb1E5EQw', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .row.justify-content-center.no-gutters.my-5(style="margin-left:-24px; margin-right:-24px")
                .col-12
                    img(src="assets/images/pages/tema-2/info-21-2.svg", alt="").img-fluid

            .header-arrow.mt-5.p-4.bg-brand-color-dark
                h3.text-center Algunos países han desarrollado su propia definición de sitio contaminado, veamos algunos ejemplos.

            .row.justify-content-center.mt-5

                .col-10.col-md-8
                    .card-media.bg-brand-color-optional
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/flag-mexico.svg").img-fluid
                            .card__copy 
                                h3 México
                                p
                                    span 
                                        |  Lugar, espacio, suelo, cuerpo de agua, instalación o cualquier combinación de éstos que ha sido contaminado con materiales o residuos que, por sus cantidades y características, pueden representar un riesgo para la salud humana, a los organismos vivos y el aprovechamiento de los bienes o propiedades de las personas (Cámara de Diputados Del H. Congreso De La Unión, 2018).

                .col-10.col-md-8
                    .card-media.bg-brand-color-optional
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/flag-chile.svg").img-fluid
                            .card__copy 
                                h3 Chile
                                p
                                    span 
                                        |  Lugar o terreno delimitado geográficamente en el que se desarrollan o han desarrollado actividades potencialmente contaminantes. Incluye a suelos abandonados y activos o en operación (Ministerio del Medio Ambiente Gobierno de Chile, 2012). 

                .col-10.col-md-8
                    .card-media.bg-brand-color-optional
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/flag-inglaterra.svg").img-fluid
                            .card__copy 
                                h3 Inglaterra
                                p
                                    span 
                                        |  Es un terreno contaminado, cualquier sitio que frente a la autoridad ambiental local, se encuentra en tal condición, a razón de sustancias, que: 

                                ol(type='a').mt-4
                                    li  
                                        span pueden estar produciendo daños significativos o hay una posibilidad significativa de que el daño ha sido causado; 
                                    li 
                                        span una contaminación significativa de aguas controladas está siendo causada, o hay una posibilidad significativa de que este tipo de contaminación haya sido causada (Department for Environment Food & Rural Affairs, 2012).

                .col-10.col-md-8
                    .card-media.bg-brand-color-optional
                        .card-media__body                 
                            figure.card__figure
                                img(src="assets/images/pages/tema-2/flag-colombia.svg").img-fluid
                            .card__copy 
                                h3 Colombia
                                p
                                    span 
                                        |  Bajo la regulación actual vigente, Colombia no cuenta con una definición legal de sitio contaminado. Sin embargo, existen herramientas jurídicas que ayudan a solicitar acciones a las empresas o personas que puedan estar haciendo afectación al ambiente en determinados casos (Congreso de la República de Colombia, 2018). 

            p.mt-4 Para que exista un sitio contaminado debe haber una fuente de dicho contaminante que produce la contaminación (Rodriguez & Trujillo, 2020). 

            p.mt-4 Recuerda los productos y procesos con contenido de mercurio que ya hemos visto a través del curso, todos son considerados una fuente de contaminación por mercurio cuando exceden el valor límite máximo permisible de mercurio, estipulado por la ley colombiana. 

            p.my-4 Realice el siguiente ejercicio. Este le ayudará a aclarar cómo se relacionan los productos o procesos industriales con los sitios contaminados. 

    section.my-5
        .subtitulo-guion.subtitulo-guion
            h2#actividad-1 Actividad didáctica: Fuentes de contaminación
        .row.align-items-center.justify-content-center.my-5
            .col-8.col-md-4
                figure
                    img(src="assets/images/pages/actividad/img_actividad.svg", alt="").img-fluid
            
            .col-12.col-md-8
                //hr.line-100.bg-orange
                .px-2
                    p Para que exista un sitio contaminado debe haber una fuente que genera la contaminación. Existen diversas fuentes que pueden dar origen a un sitio contaminado por mercurio. A continuación, se presentarán 6 imágenes, seleccione las que usted considere que representan las fuentes de mercurio que dan paso a un sitio contaminado. 
                    //p Teniendo en cuenta la información presentada, realice la siguiente actividad didáctica, en la cual debe ubicar los ODS en los cinco (5) ejes centrales del desarrollo sostenible, de acuerdo con su enfoque.
                    a(href="media/act-1/index.html" target="_blank" class="btn btn-colour-Orange").mt-5 Iniciar            
        hr.line-100.bg-orange.my-5